body {
  background-color: #39f;
}
.container {
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
